@import './src/common/sass/variables';

.scroll_container {
  position: fixed;
  right: 3rem;
  bottom: 1rem;
  opacity: 1;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  animation: moveInRight 4s ease-out;
    @media screen and (max-width: 932px) {
      opacity: 0;
    }
}

.line {
  border: 0.1px solid $borderColor;
  width: 100%;
  right: -1.4rem;
  position: relative;
  transform: rotate(90deg) translateX(-50%);
  @media screen and (max-width: 932px) {
    opacity: 0;
  }


  .fill {
    border-style: solid;
    border-color: $colorLineYellow;
    width: 11%;
    position: absolute;
    border-width: 0;
    border-bottom-width: inherit;
    top: 0;
    left: 0;
    animation: fill 2s linear infinite;
  }
}


.text {
  position: relative;
  transform: translateX(50%);
  padding-top: 100%;
  @media screen and (max-width: 932px) {
    opacity: 0;
  }

  p {
    color: $textColor;
    transform: rotate(90deg) translateX(-50%);
    transform-origin: center center;
    font-size: 0.7rem;
    letter-spacing: .14em;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4em;

  }
}


@keyframes fill {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(900%, 0%, 0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}




