@import './src/common/sass/variables';

.section_select_work {
    padding-bottom: 15rem;
}



.item_line {
    border-left-style: solid;
    border-left-color: $borderColor;
    border-left-width: 0.1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
    position: relative;
    bottom: 150px;
}













