@import './src/common/sass/variables';

.introductionContainer {
  display: flex;
  align-items: center;
  height: 100vh;
  padding-bottom: 15rem;
  @media screen and (max-width: 932px) {
    padding-bottom: 5rem;
  }

  .introduction {
    margin: 0 0 2rem;


    p {
      font-size: 0.6rem;
      letter-spacing: .14em;
      font-weight: 700;
      color: $textColor;
      line-height: 1.4em;
      font-family: 'Source Sans Pro', sans-serif;
      animation: moveInRight 5s ease-out;
    }
  }

  .text {
    margin: 0 0 2rem 1.5rem;

    h1 {
      padding: 0;
      margin: 0;
      line-height: 1;
      animation: moveInLeft 5s ease-out;
      font-size: 4.3rem;
      font-weight: 200;
      letter-spacing: -.005em;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }

  .line_box {
    display: flex;
    justify-content: start;
    box-sizing: border-box;

    .line {
      border: 0.1px solid $textColor;
      width: 2rem;
      box-sizing: border-box;
      height: 0;
      margin-top: 1rem;
      animation: moveInRight 5s ease-out;
    }
  }

}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


